body{
    width: 1200px;
    margin: auto;
    padding: 0;
    box-shadow: 0px 0px 5px black;
}
.wrapper{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 100%;
    margin: 0 auto;
}
.hinhanh_sp{
    float: left;
    width: 40%;
    margin: 0, auto;
}
.chitiet_sp{
    float: left;
    width: 50%;
    margin: 0 10px;
}
#themgiohang{
    background: brown;
    border: none;
    color: #fff;
    padding: 12px;
    font-size: 15px;;
    cursor: pointer;
}
.header{
    width: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
}
.menu{
    height: 50px;
    width: 100%;
    background-color: #00e6ac;
}
ul.list_menu{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    list-style: none;
    line-height: 25px;
}
ul.list_menu li{
    float: left;
    margin: 5px;
    padding: 7px;
}
ul.list_menu li:hover{
    background-color: wheat;
}
ul.list_menu li a{
    text-align: center;
    color: #990000;
    font-size: large;
    text-decoration: none;
    font-weight: 700;
}
#main{
    height: auto;
    width: 100%;
}
.sidebar{
    border: 1px solid #000066;
    height: 390px;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
ul.list_sidebar{
    padding: 0;
    width: 100%;
    list-style: none;
    line-height: 25px;
}
ul.list_sidebar li{
    margin: 5px;
    padding: 7px;
}
ul.list_sidebar li:hover{
    background-color: wheat;
}
ul.list_sidebar li a{
    text-align: left;
    display: block;
    color: brown;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
}
.maincontent{
    height: auto;
    width: 78%;
    margin-top: 5px;
    margin-right: 5px;
    float: right;  
}
ul.product_list{
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li{
    width: 19%;
    margin: 3px;
    float: left;
    height: 250px;
}
ul.product_list li a{
    text-transform: capitalize;
    text-decoration: none;
}
ul.product_list li img{
    width: 90%;
    height: auto;
}
.title_product{
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.price_product{
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.footer{
    background-color: darkgrey;
    height: 100px;
    width: 100%;
}
p.footer_copyright{
    color: black;
    text-align: center;
    line-height: 100px;
}
.clear{
    clear: both;
}
i.fa.fa-plus{
    font-size: 15px;
    color: black;
}
i.fa.fa-plus:hover{
    color: brown;
}
i.fa.fa-minus{
    font-size: 15px;
    color: black;
}
i.fa.fa-minus:hover{
    color: brown;
}